<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Accueil</title>

  {{ resource('Style/css/main.css') }}
  {{ resource('Style/css/footer.css') }}

  <!-- cdn fontawesome -->
  <script src="https://kit.fontawesome.com/1d87cf05c5.js" crossorigin="anonymous"></script>
<body>

{% include "Components/Navbar.twig" %} 

<div class="container">
  <h1>Quel type d'annonces cherchez vous {{ item.content['#file'].filename.value }} :</h1>
  <div class="options">
    <a href="{{ route("sell") }}" class="option">Vente</a>
    <a href="{{ route("barter") }}" class="option">Troc</a>
    <a href="{{ route("location") }}" class="option">Location</a>
  </div>
</div>
{% include "Components/footer.twig" %}
</body>
</html>