<div class="offer">
  <div class="first-row">
    <div class="image-container">
        <img src="{{ media(offer.image) }}" alt="offer">
    </div>
    <div class="info-container">
      <div class="title">
        <h2>{{ offer.title }}</h2>
      </div>
      <div class="row">
        <div class="price">
          <h3>{{ offer.price }} €</h3>
        </div>
        <div class="date">
          <h3>publié le {{ offer.date }}</h3>
        </div>
      </div>
      <div class="description">
        <p>
          {{ offer.description }}
        </p>
      </div>
      <div class="contact-section">
        <div class="contact">
          <i class="fa-solid fa-phone"></i>
          <strong>{{ offer.publisher.phone }}</strong>
        </div>
        <div class="contact">
          <i class="fa-solid fa-at"></i>
          <strong><a href="mailto:{{ offer.publisher.mail }}">{{ offer.publisher.mail }}</a></strong>
        </div>
      </div>
    </div>
  </div>
</div>