<div class="offer">
  <div class="first-row">
    <div class="image-container" style="background: url('{{ media(offer.image) }}') center / cover no-repeat;">
    </div>
    <div class="info-container">
      <div class="title">
        <h2>{{ offer.title|raw }}</h2>
      </div>
      <div class="row">
        <div class="price">
          <h3>{{ offer.price }} €</h3>
        </div>
        <div class="date">
          <h3>publié le {{ offer.date }}</h3>
        </div>
      </div>
      <div class="description">
        <p>
          {{ offer.description|raw }}
        </p>
      </div>
      <div class="contact-section">
        <div class="contact">
          <i class="fa-solid fa-phone"></i>
          <strong><a href="tel:{{ offer.publisher.phone }}">{{ offer.publisher.phone }}</a></strong>
        </div>
        <div class="contact">
          <i class="fa-solid fa-at"></i>
          <strong><a href="mailto:{{ offer.publisher.mail }}">{{ offer.publisher.mail }}</a></strong>
        </div>
      </div>
    </div>
  </div>
</div>